################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/Lib
/szzx.web/obj
/szzx.web/bin
/.vs
