<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>@(ViewBag.Title ?? "中捷足球")</title>
    <link rel="stylesheet" href="~/assets/web/css/weui.min.css">
    <link rel="stylesheet" href="~/assets/web/css/base_cwn.css">

    <script src="~/assets/web/js/jquery-2.1.4.js"></script>

    <script type="text/javascript">
        $.noConflict();
    </script>
    <!--frozenUI-->
    <link href="~/assets/global/frozenui/css/frozen.css" rel="stylesheet" />
    <script src="~/assets/global/frozenui/js/lib/zeptojs/zepto.min.js"></script>
    <script src="~/assets/global/frozenui/js/frozen.js"></script>

    <script src="~/assets/web/js/webMain.js"></script>
</head>