
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>@(HttpContext.Current.Items.Contains("_ErrorMsg") ? HttpContext.Current.Items["_ErrorMsg"] : "处理请求出错")</h1> 
    </div>
</body>
</html>
