
@{
    Layout = null;
}
@model szzx.web.Entity.Notice

<!DOCTYPE html>
<html lang="zh-CN">
@Html.Partial("_Head")
<body ontouchstart>
    <style type="text/css">
        #content img {
            width:100%;
        }
    </style>
    <section class="weui-p20 weui-f14 weui-lh30" id="content">
        @Html.Raw(Model?.Content)
    </section>
</body>

</html>